.ImagenPrincipal {
    width: 194px !important;
    height: 194px !important;
    display: block;
    margin: auto;
    margin-top: 15px;
}


.css-7w1d5o-MuiPaper-root-MuiCard-root {

    margin-top: 0px !important;
}