.Toxicidad {
    margin-left: 85px !important;
    margin-top: -15px !important;
}

.Etiqueta {
    margin-left: 115px !important;
    margin-top: 5px !important;
}

.ImagenPrincipal {
    margin-left: 75px !important;
}

.Tabla {
    margin-top: 25px !important;
}